/* Estilos Gerais */
/* colocar fonte padrão */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* colocar fonte padrão */
p {
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    line-height: 20px;
}

/* organizar estilo do site */
.btn {
    border: 3px solid #fec63e;
    padding: 10px 30px;
    color: #fec63e;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
}

/* mudar para branco a cor do ORÇAMENTO ao passsar o cursor por cima */
.btn:hover {
    color: #FFF;
    border-color: #FFF;

}


/* Header  */
/* width para deixar a tela inteira com background desejado 
padding para não deixar colado no topo
position: fixes para scroll não descer o header e no topo com top: 0 
*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fec63e;
    padding: 15px 0;
}

/* eitar menu text alinhado a direita*/
.header_menu {
    text-align: right;
}

/* modificar elemento de bloco (deixar quebrar linha tranformando
li em um elemento  inline)
espaçamento com margin para esquerda
margin-top colocar na estrutura de navegação para descer um pouco o menu
*/
.header_menu ul li{
    display: inline-block;
    margin-left: 25px;
    margin-top: 20px;
}

/* Estilizar cor da tipografia 
font-wight bold "Negrito" e uppercase para letras maiúsculas
letter-spacing para o espaçamento entre as letras
melhorar a área de contato com padding
*/
.header_menu ul li a{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
    /* background: salmon; mostrar área de contato */
}

/* passar o mouse por cima e identificar que pode clicar */
.header_menu ul li a:hover {
    color: #FFF;
}

/* Introdução */
.introducao {
    width: 100%;
    height: 380px;
    background: url("../img/bg.jpg") no-repeat center;
    background-size: cover;
    margin-top: 96px; 
    text-align: center;
    padding-top: 80px;
}

.introducao h1 {
    font-size: 48px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

/* quebrar o texto sem usar BR */
.quote-externo {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #FFF;
}

.quote-externo p {
    font-style: italic;
}

/* criar separador linhas before (antes)
   criar separador linhas after  (depois) */
.quote-externo p::before, .quote-externo p::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #FFF; /* após escolher a cor aparece as linhas*/
    margin: 14px auto 10px auto;  /* alinhar cima 10px, direita auto, baixo 10px e esqueda auto */
}


.quote-externo cite {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .1em;
}
